<body>

 <button><%= link_to 'Add a Brewery!', new_brewer_path %></button>
 <br>
 <br>
 <br>
 <br>
  
  <div class="basic horizontal segment">
  <div class="equal height row">
    <div class="ui four cards">
    
      <% @brewers.each do |brewer| %> 
            
        <div class="ui card">     
          <div class="ui medium centered image">
            <%= image_tag(brewer.image_url, :alt => "brewer.brewery") %>
          </div> <!-- end of ui medium centered image -->
                 
          <div class="content">
            
            <%= link_to brewer.brewery, brewer_path(brewer) %>
          </div> <!-- end of content -->
                  
          <div class="extra content">
            <div class="ui green header"><%= brewer.address %>
            <%= brewer.zip_code %></div>
          </div> <!-- end of extra content -->
        </div> <!-- end of ui card -->

         
            
      <% end %> <!-- end of beers.each -->
      
    </div> <!-- end of ui four cards -->
    </div>
  </div> <!-- end of basic horizontal segment -->


   
 


</body>



































	

      
      
      
      
   
       
     













			


























