<body>
	

      <% @brewers.each do |brewer| %>
      
      <%= image_tag(brewer.image_url, :alt => "brewer.brewery") %>
      <%= link_to brewer.brewery, brewer_path(brewer) %>
   
        <%= brewer.address %>
        <%= brewer.zip_code %>
     












<%= link_to 'Add your Brewery Now!', new_brewer_path %>	


 



	<% end %>	

			

</body>
























