<body>
  
  <div class="basic horizontal segment">
  
  
  <div class="equal height row">
    <div class="ui three cards">

      <%= link_to 'Add a Brewery!', new_brewer_path, class: "btn btn-danger" %>
      <br>
      <br>
    
      <% @brewers.each do |brewer| %> 
            
        <div class="ui card">     
          <div class="ui medium centered image">
            <div class="cardImg">
              <%= image_tag(brewer.image_url, :class => "cardImg") %>
            </div>
          
                 
            <div class="content">
              
              <%= link_to brewer.brewery, brewer_path(brewer) %>
            </div> <!-- end of content -->
                    
            <div class="extra content">
              <div>
                <%= brewer.address %>
                <%= brewer.zip_code %>
                <br>
                <br>
              </div>
            </div> <!-- end of extra content -->
          </div> <!-- end of ui medium centered image -->
        </div> <!-- end of ui card -->


            
      <% end %> <!-- end of beers.each -->
      
    </div> <!-- end of ui three cards -->
    </div>
  </div> <!-- end of basic horizontal segment -->


</body>