<h1>Add Your Brewery Now!</h1>


<%= form_for @brewer do |f| %>

<div>
	<%= f.label :brewery %>
	<%= f.text_field :brewery %>
</div>
<br>
<div>
	<%= f.label :address %>
	<%= f.text_field :address %>
</div>
<br>
<div>
	<%= f.label :zip_code %>
	<%= f.text_field :zip_code %>
</div>
<br>
<div>
	<%= f.label :website %>
	<%= f.text_field :website %>
</div>
<br>
<div>
	<%= f.submit "submit" %>
</div>

<% end %>