<div class="basic horizontal segment">
  <h1 class="header"><%= @beer.name %></h1>
    <div class="ui two cards">
            
        <div class="ui card">     
          <div class="ui medium centered image">
            <%= image_tag(@beer.image_url, :alt => "@beer.name") %>
          </div> <!-- end of ui medium centered image -->
                 
          <div class="content">
            <div class="meta"><i><%= link_to @beer.brewer.brewery, brewer_path(@beer.brewer) %></i></div>
            <%= link_to @beer.name, beer_path(@beer) %>
          </div> <!-- end of content -->
                  
          <div class="extra content">
            <i><%= link_to @beer.style.name, style_path(@beer.style)%></i>
            <br>
            <br>
            <%= @beer.description %>
            <br>
            <br>

            <%= link_to "Edit Beer", edit_beer_path, class: "btn btn-danger" %>
            <br>
            <br>

            <%= link_to "Delete Beer", beers_path, method: :delete, data: {confirm: "Are you sure you wish to delete this post?"}, class: "btn btn-danger" %>
            <br>
            <br>

            <%= link_to "Go Back", beers_path, class: "btn btn-danger" %>

            <br>
            <br>
            <br>
          </div> <!-- end of extra content -->
        </div> <!-- end of ui card -->

        <div class="ui card">
          <div class="content">
          <% @beer.reviews.each do |review| %>
            <h4><%= "Review by #{review.user.first_name}" %></h4>
            <p><i><%= "Written on #{review.created_at.to_formatted_s(:long)}" %></i></p>
            <p><%= review.description %></p>
            <p><%= link_to "Delete", delete_review_path(review), method: :delete, data: {confirm: "Are you sure?"} %></p>
            <% end %>
          </div>
        </div> <!-- end of ui card for reviews -->


        <div class="ui card">
          <div class="content">
          <div>
            <%= form_for [@beer, @review] do |review| %>
              <div>
                <br>
                <%= review.label :description, "Review" %>
                <br>
                <%= review.text_area :description %>
              </div>
                <br>
              <div>
                <%= review.submit "Add a review!", class: "btn btn-danger" %>
              </div>
                <br>
              <% end %>
          </div>
          </div>
        </div>
            
      
    </div> <!-- end of ui two cards -->

  </div> <!-- end of basic horizontal segment -->