<!DOCTYPE html>
<html>
<head>
  <title>BrewHopper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<body>
<!-- Beginning of Nav Bar -->
<div class="ui menu">
  <div class="header item">
    <%= link_to 'Brew Hopper', root_path %>
  </div>

  <!-- Begin Dropdown Menu -->
  <div class="ui dropdown item">
    Deals
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="#">Local</a>
      <a class="item" href="#">Online</a>
    </div>
  </div>
  <!-- End of Dropdown Menu -->
  <a class="item" href="#">Coupons</a>
  
  <div class="item">
    <%= link_to 'Browse', beers_path %>
  </div>
  
  <a class="item" href="#">Forums</a>
  <div class="item">
    <div class="ui icon input">
      <input type="search" placeholder="Search deals..."/>
      <i class="search icon"></i>
    </div>
  </div>
    <% if logged_in? %>
      <div class="item" id="login"> 
        Logged in as: <%= current_user.first_name %> | <%= link_to "Edit", edit_user_path(current_user) %> | <%= link_to 'Log Out', logout_path, method: :delete %> 
      </div>
    <% else %>
      <div class="item" id="login">
        <%= link_to 'Log In', login_path %> | <%= link_to 'Sign up', signup_path %>
      </div>
    <% end %>
</div>
<!-- End of Nav Bar -->

<!-- Login in Messages -->
<% if flash[:welcome] %>
        <h4 class="bg-success flash"><%= flash[:welcome] %></h4>
    <% end %>

    <% if flash[:error] %>
        <h4 class="bg-danger flash"><%= flash[:error] %></h4>
    <% end %>
<!-- End of login Messages -->

<script>
  $(function(){
    $('.dropdown').dropdown({transition: 'drop'});
  });
</script>

</body>
<%= yield %>
</html>
